on:
  push:
    tags: [ '[0-9]+.[0-9]+.[0-9]+' ]
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-read-only: false

      - name: Execute Gradle build
        run: ./gradlew build

      - name: Update CHANGELOG
        id: changelog
        uses: requarks/changelog-action@v1
        with:
          token: ${{ github.token }}
          tag: ${{ github.ref_name }}

      - name: Upload jar
        uses: Kir-Antipov/mc-publish@v3.3.0
        with:
          changelog: ${{ steps.changelog.outputs.changes }}
          # Update these IDs after creating the project on Modrinth/CurseForge
          modrinth-id: ae2-personal-me-system
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

          # curseforge-id: UPDATE_ME
          # curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}

          files: |
            build/libs/!(*-@(sources|dev)).jar
            build/libs/*-@(sources).jar

          version: ${{ github.ref_name }}

          loaders: |
            forge

          game-versions: |
            1.20.1
          game-version-filter: releases

          dependencies: |
            ae2(required)
            curios(required)
            fancymenu(optional)

          java: |
            17

      - name: Commit CHANGELOG.md
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          branch: main
          commit_message: 'docs: update CHANGELOG.md for ${{ github.ref_name }} [skip ci]'
          file_pattern: CHANGELOG.md
